@using ProgrammersBlog.Entities.Dtos.UserDtos
@model UserUpdateDto

<div class="modal fade" id="userUpdateModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<h5 class="modal-title" style="color: #212529 !important;">
					<span class="fas fa-pen-to-square"></span> Editing User: @Model.UserName
				</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form asp-action="Update" id="form-user-update" enctype="multipart/form-data">
					<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
					<div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none;"></div>
					<input type="hidden" asp-for="Id" />

					<!-- Username -->
					<div class="form-group mb-3">
						<label asp-for="UserName"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
							<input class="form-control" asp-for="UserName" placeholder="Please enter your username" />
						</div>
						<span class="text-danger" asp-validation-for="UserName"></span>
					</div>

					<!-- Email -->
					<div class="form-group mb-3">
						<label asp-for="Email"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							<input type="email" class="form-control" asp-for="Email" placeholder="Please enter your email" />
						</div>
						<span class="text-danger" asp-validation-for="Email"></span>
					</div>

					<!-- First Name -->
					<div class="form-group mb-3">
						<label asp-for="FirstName"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-id-badge"></i></span>
							<input type="text" class="form-control" asp-for="FirstName" placeholder="Please enter your first name" />
						</div>
						<span class="text-danger" asp-validation-for="FirstName"></span>
					</div>

					<!-- Last Name -->
					<div class="form-group mb-3">
						<label asp-for="LastName"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-id-badge"></i></span>
							<input type="text" class="form-control" asp-for="LastName" placeholder="Please enter your last name" />
						</div>
						<span class="text-danger" asp-validation-for="LastName"></span>
					</div>

					<!-- About -->
					<div class="form-group mb-3">
						<label asp-for="About"></label>
						<textarea class="form-control" asp-for="About" placeholder="Please enter about info" rows="4"></textarea>
						<span class="text-danger" asp-validation-for="About"></span>
					</div>

					<!-- Phone Number -->
					<div class="form-group mb-3">
						<label asp-for="PhoneNumber"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-phone"></i></span>
							<input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Please enter your phone number" />
						</div>
						<span class="text-danger" asp-validation-for="PhoneNumber"></span>
					</div>

					<!-- Website Link -->
					<div class="form-group mb-3">
						<label asp-for="WebsiteLink"></label>
						<input type="text" class="form-control" asp-for="WebsiteLink" placeholder="Please enter your website link" />
						<span class="text-danger" asp-validation-for="WebsiteLink"></span>
					</div>

					<!-- Twitter Link -->
					<div class="form-group mb-3">
						<label asp-for="TwitterLink"></label>
						<input type="text" class="form-control" asp-for="TwitterLink" placeholder="Please enter your Twitter profile link" />
						<span class="text-danger" asp-validation-for="TwitterLink"></span>
					</div>

					<!-- Facebook Link -->
					<div class="form-group mb-3">
						<label asp-for="FacebookLink"></label>
						<input type="text" class="form-control" asp-for="FacebookLink" placeholder="Please enter your Facebook profile link" />
						<span class="text-danger" asp-validation-for="FacebookLink"></span>
					</div>

					<!-- Instagram Link -->
					<div class="form-group mb-3">
						<label asp-for="InstagramLink"></label>
						<input type="text" class="form-control" asp-for="InstagramLink" placeholder="Please enter your Instagram profile link" />
						<span class="text-danger" asp-validation-for="InstagramLink"></span>
					</div>

					<!-- LinkedIn Link -->
					<div class="form-group mb-3">
						<label asp-for="LinkedInLink"></label>
						<input type="text" class="form-control" asp-for="LinkedInLink" placeholder="Please enter your LinkedIn profile link" />
						<span class="text-danger" asp-validation-for="LinkedInLink"></span>
					</div>

					<!-- Youtube Link -->
					<div class="form-group mb-3">
						<label asp-for="YoutubeLink"></label>
						<input type="text" class="form-control" asp-for="YoutubeLink" placeholder="Please enter your YouTube profile link" />
						<span class="text-danger" asp-validation-for="YoutubeLink"></span>
					</div>

					<!-- GitHub Link -->
					<div class="form-group mb-3">
						<label asp-for="GitHubLink"></label>
						<input type="text" class="form-control" asp-for="GitHubLink" placeholder="Please enter your GitHub profile link" />
						<span class="text-danger" asp-validation-for="GitHubLink"></span>
					</div>

					<!-- Current Picture Preview -->
					<div class="form-group mb-3">
						<label asp-for="Picture"></label>
						<input asp-for="Picture" type="hidden" />
						<img class="my-image d-block mb-2 rounded" src="~/images/@Model.Picture" alt="@Model.UserName" style="max-width: 100px;" />
					</div>

					<!-- Upload New Picture -->
					<div class="form-group mb-3">
						<label asp-for="PictureFile"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-image"></i></span>
							<input type="file" accept="image/*" class="form-control" asp-for="PictureFile" />
						</div>
						<span class="text-danger" asp-validation-for="PictureFile"></span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning btn-block" id="btnUpdate">
					<span class="fas fa-save"></span> Update User
				</button>
				<button type="button" class="btn btn-danger btn-block" data-bs-dismiss="modal">
					<span class="fas fa-times"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
