@using ProgrammersBlog.Entities.Dtos.UserDtos
@model UserPasswordChangeDto

@{
	ViewData["Title"] = "Change Password";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-lg-4 offset-lg-4">
		<div class="card mt-3 shadow-sm border-0 rounded-4 overflow-hidden">
			<div class="card-header bg-info text-dark">
				<h4 class="text-center mb-0"><span class="fas fa-key me-2"></span> Change Password</h4>
			</div>

			<div class="card-body">
				<form asp-controller="User" asp-action="PasswordChange" method="post" enctype="multipart/form-data">
					<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
					<div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>

					<!-- Current Password -->
					<div class="form-group mb-3">
						<label asp-for="CurrentPassword"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-lock"></i></span>
							<input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Please enter your current password" />
						</div>
						<span class="text-danger" asp-validation-for="CurrentPassword"></span>
					</div>

					<!-- New Password -->
					<div class="form-group mb-3">
						<label asp-for="NewPassword"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
							<input type="password" class="form-control" asp-for="NewPassword" placeholder="Please enter your new password" />
						</div>
						<span class="text-danger" asp-validation-for="NewPassword"></span>
					</div>

					<!-- Repeat Password -->
					<div class="form-group mb-4">
						<label asp-for="RepeatPassword"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-redo-alt"></i></span>
							<input type="password" class="form-control" asp-for="RepeatPassword" placeholder="Please enter your repeat password" />
						</div>
						<span class="text-danger" asp-validation-for="RepeatPassword"></span>
					</div>

					<div class="form-group text-center">
						<button type="submit" class="btn btn-success btn-lg rounded-pill px-5 shadow mb-3">
							<i class="fas fa-save me-2"></i> Save Changes
						</button>
						<br />
						<a class="btn btn-danger btn-lg rounded-pill px-5 shadow" asp-area="Admin" asp-controller="User" asp-action="Index">
							<i class="fas fa-times-circle me-2"></i> Cancel
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
